---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PresentationLayout from "../layouts/PresentationLayout.astro";
import Card from "../components/Card.astro";

interface Frontmatter {
    frontmatter: {
        title: string;
        description: string;
        image: {
            path: string;
            alt: string;
        };
        category: string;
        status: string;
    };
    url: string;
}

const allPosts = Object.values(
    import.meta.glob<Frontmatter>("../pages/posts/*.mdx", { eager: true }),
);

const title = "Tristan Bony - Software Engineer";
const description =
    "Hello! I'm Tristan, this is my personal website. Here, you will find my different projects and past experiences.";
---

<GlobalLayout title={title} description={description}>
    <main>
        <PresentationLayout />

        <div class="flex flex-row flex-wrap justify-center">
            {
                allPosts.map((post) => (
                    <Card
                        title={post.frontmatter.title}
                        description={post.frontmatter.description}
                        href={post.url}
                        image={post.frontmatter.image}
                        category={post.frontmatter.category}
                        status={post.frontmatter.status}
                    />
                ))
            }
        </div>
    </main>
</GlobalLayout>
