---
interface Props {
	category: string;
	image: string;
	title: string;
	description: string;
	href: string;
	status: string;	// TODO - Add a colored indicator (position as category); values: completed, in-progress, maintenance or empty
}

const cardTitle = (cat: string) => {
	switch (cat) {
		case "achievement":
			return "My achievements";
		case "school-project":
			return "My school projects";
		case "experience":
			return "My experiences";
		default:
			return "Unknown";
	}
};

const { category, image, title, description, href } = Astro.props;
---

<section class="card shadow-lg bg-white border w-[30%] m-2">
	<figure>
		<img src={image} alt="Something to put here" /><!-- TODO - Add alt text -->
	</figure>
	<article class="card-body">
		<div class="badge badge-outline text-gray-500">{cardTitle(category)}</div>
		<h2 class="card-title">{title}</h2>
		<p class="justify-normal">{description}</p>
		<div class="card-actions justify-end">
			<a class="btn btn-primary bg-blue-500 hover:bg-blue-600 focus:bg-blue-800 border-none" href={href}>Read more</a>
		</div>
	</article>
</section>
