---
interface Props {
	category: string;
	image: string;
	title: string;
	description: string;
	href: string;
}

const cardTitle = (cat: string) => {
	switch (cat) {
		case "achievement":
			return "My achievements";
		case "school-project":
			return "My school projects";
		case "experience":
			return "My experiences";
		default:
			return "Unknown";
	}
};

const { category, image, title, description, href } = Astro.props;
---

<section class="rounded-xl shadow bg-white border w-[33%] p-4">
	<h4 class="font-light">{cardTitle(category)}</h4>
	<hr />
	<img alt="{Langlsater Discord bot} logo" src={image} class="w-full h-auto rounded-xl my-4 mx-0"/>
	<article>
		<h2 class="text-xl font-bold">{title}</h2>
		<p class="justify-normal">{description}</p>
	</article>
	<a href={href} class="button">Read more</a>
</section>
