---
interface Props {
	title: string;
	description: string;
	href: string | undefined;
	image: {
		path: string;
		alt: string;
	};
	category: string;
	status: string;
}

const cardTitle = (cat: string) => {
	switch (cat) {
		case "achievement":
			return "Achievements";
		case "school-project":
			return "School projects";
		case "experience":
			return "Experiences";
		default:
			return "Other";
	}
};

const cardStatus = (status: string) => {
	switch (status) {
		case "completed":
			return {
				color: "text-green-500",
				status: "Completed",
			};
		case "in-progress":
			return {
				color: "text-blue-500",
				status: "In progress",
			};
		case "maintenance":
			return {
				color: "text-yellow-500",
				status: "Maintenance",
			};
		case "discontinued":
			return {
				color: "text-red-500",
				status: "Discontinued",
			};
	}
};

const { title, description, href, image, category, status } = Astro.props;
---

<section class="card shadow-lg bg-white dark:bg-gray-800 md:w-[23%] m-2 w-[100%]">
	<figure>
		<img src={image.path} alt={image.alt || "Missing image"} />
	</figure>
	<article class="card-body">
		<div class="inline">
			<div class="badge badge-outline text-gray-500 dark:text-gray-300">
				{cardTitle(category)}
			</div>
			<div
				class:list={[
					"badge badge-outline",
					cardStatus(status)?.color || "invisible",
				]}
			>
				{cardStatus(status)?.status || null}
			</div>
		</div>
		<h2 class="card-title">{title}</h2>
		<p class="justify-normal text-justify">{description}</p>
		<div class="card-actions justify-end">
			<a
				class="btn btn-primary bg-blue-500 hover:bg-blue-600 focus:bg-blue-800 border-none"
				href={href}>Read more</a
			>
		</div>
	</article>
</section>
