---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const todaysDate: Date = new Date();
const birthday: Date = new Date(2000, 4, 16);
const age: number = Math.floor(
    (todaysDate.getTime() - birthday.getTime()) /
        (1000 * 60 * 60 * 24 * 365.2425),
);

import profilePic from "../assets/profile_pic.jpg";

const education = "CPGE && ISIMA && OU";
const location = "Lyon, France";
const signal = "TristanB0.742";
const signalLink =
    "https://signal.me/#eu/WYwsWB_b4jv31xlz5cVMuqrBngYWG2PbTdAS_EThgpwurUKxcylGoZaV2KAIVN8J";
const email = "contact@tristanbony.me";
const emailLink = "mailto:" + email;
---

<main
    class="flex flex-row flex-wrap w-full p-4 mb-2 bg-white rounded-2xl shadow-lg dark:bg-gray-800"
>
    <article class="m-2 xl:flex-[70%]">
        <div class="max-w-2xl xl:max-w-5xl mx-auto">
            <div
                class="bg-gray-100 rounded-2xl shadow-lg overflow-scroll dark:bg-gray-900"
            >
                <div
                    class="p-6 font-mono whitespace-pre leading-normal overflow-x-auto"
                >
                    <pre
                        class="inline text-green-500 dark:text-green-400 font-bold">tristan@website:~$</pre>
                    <pre
                        class="inline text-blue-500 dark:text-blue-400">whoami</pre>

                    <pre
                        class="text-gray-500 dark:text-gray-400">
<span class="text-red-500 dark:text-red-400">SoftwareEngineer</span> {'{'}
    <span class="text-pink-500 dark:text-pink-400">Background</span> {'{'}
        <span class="text-purple-600 dark:text-purple-400">passion</span>: <span class="text-amber-600 dark:text-amber-400">"Immersed in computer science from a young age, curious about technologies"</span>,
        <span class="text-purple-600 dark:text-purple-400">motivation</span>: <span class="text-amber-600 dark:text-amber-400">"Tinkerer and self-learner, passionate about understanding what makes things work"</span>,
    {'}'},
    <span class="text-pink-500 dark:text-pink-400">Education</span> {'{'}
        <span class="text-purple-600 dark:text-purple-400">prep_courses</span>: <span class="text-amber-600 dark:text-amber-400">"CPGE TSI at Edouard Branly high school in Lyon - Gained scientific rigor"</span>,
        <span class="text-purple-600 dark:text-purple-400">engineering</span>: <span class="text-amber-600 dark:text-amber-400">"ISIMA - Engineering school specialized in computer science"</span>,
        <span class="text-purple-600 dark:text-purple-400">double_degree</span>: <span class="text-amber-600 dark:text-amber-400">"University of Oklahoma - Discovered new learning methods and culture"</span>,
    {'}'},
    <span class="text-pink-500 dark:text-pink-400">Skills</span> {'{'}
        <span class="text-purple-600 dark:text-purple-400">taught</span>: [<span class="text-amber-600 dark:text-amber-400">"C"</span>, <span class="text-amber-600 dark:text-amber-400">"C++"</span>, <span class="text-amber-600 dark:text-amber-400">"C# (.NET)"</span>, <span class="text-amber-600 dark:text-amber-400">"Java"</span>, <span class="text-amber-600 dark:text-amber-400">"SQL"</span>],
        <span class="text-purple-600 dark:text-purple-400">self_learned</span>: [<span class="text-amber-600 dark:text-amber-400">"Python"</span>, <span class="text-amber-600 dark:text-amber-400">"HTML"</span>, <span class="text-amber-600 dark:text-amber-400">"CSS"</span>, <span class="text-amber-600 dark:text-amber-400">"Rust"</span>],
        <span class="text-purple-600 dark:text-purple-400">os</span>: [<span class="text-amber-600 dark:text-amber-400">"GNU/Linux"</span>, <span class="text-amber-600 dark:text-amber-400">"Windows"</span>],
    {'}'},
    <span class="text-pink-500 dark:text-pink-400">Interests</span>: [
        (<span class="text-amber-600 dark:text-amber-400">"Sports"</span>, [<span class="text-amber-600 dark:text-amber-400">"Mountain biking"</span>, <span class="text-amber-600 dark:text-amber-400">"Skiing"</span>, <span class="text-amber-600 dark:text-amber-400">"Billiards (Blackball/Snooker/9-ball)"</span>]),
        (<span class="text-amber-600 dark:text-amber-400">"Music"</span>, [<span class="text-amber-600 dark:text-amber-400">"Violin (since age 4)"</span>, <span class="text-amber-600 dark:text-amber-400">"3 years in a Rock band"</span>]),
        (<span class="text-amber-600 dark:text-amber-400">"Travels"</span>, [<span class="text-amber-600 dark:text-amber-400">"USA"</span>, <span class="text-amber-600 dark:text-amber-400">"Europe"</span>, <span class="text-amber-600 dark:text-amber-400">"Russia"</span>, <span class="text-amber-600 dark:text-amber-400">"and a lot more..."</span>]),
        (<span class="text-amber-600 dark:text-amber-400">"Video Games"</span>, [<span class="text-amber-600 dark:text-amber-400">"Portal"</span>, <span class="text-amber-600 dark:text-amber-400">"Trackmania"</span>, <span class="text-amber-600 dark:text-amber-400">"Rocket League"</span>]),
        (<span class="text-amber-600 dark:text-amber-400">"Others"</span>, [<span class="text-amber-600 dark:text-amber-400">"Movies"</span>, <span class="text-amber-600 dark:text-amber-400">"Series"</span>, <span class="text-amber-600 dark:text-amber-400">"Cats"</span>, <span class="text-amber-600 dark:text-amber-400">"FLOSS"</span>, <span class="text-amber-600 dark:text-amber-400">"Cars"</span>]),
    ],
    <span class="text-pink-500 dark:text-pink-400">Languages</span>: [
        (<span class="text-amber-600 dark:text-amber-400">"French"</span>, <span class="text-amber-600 dark:text-amber-400">"Native"</span>),
        (<span class="text-amber-600 dark:text-amber-400">"English"</span>, <span class="text-amber-600 dark:text-amber-400">"C1 (TOEIC: 975/990; TOEFL: 99/120"</span>)),
        (<span class="text-amber-600 dark:text-amber-400">"Spanish"</span>, <span class="text-amber-600 dark:text-amber-400">"B1"</span>),
        (<span class="text-amber-600 dark:text-amber-400">"Mandarin"</span>, <span class="text-amber-600 dark:text-amber-400">"Notions"</span>),
    ],
{'}'}</pre>
                    <pre
                        class="inline text-green-500 dark:text-green-400 font-bold">tristan@website:~$</pre>
                    <pre
                        class="inline border-r-2 border-blue-500 dark:border-blue-400 pr-0.5"></pre>
                </div>
            </div>
        </div>
    </article>
    <aside
        class="flex flex-col flex-wrap flex-1 justify-around items-center rounded-2xl shadow-lg xl:flex-[25%] xl:ml-5 dark:bg-gray-700"
    >
        <div class="w-full h-36 mb-14 bg-blue-500 rounded-t-2xl">
            <Image
                class="block w-32 h-auto mt-14 mb-0 mx-auto rounded-2xl"
                src={profilePic}
                alt="Portrait of me"
            />
        </div>
        <div class="p-4 mt-4 text-center">
            <ul>
                <li>
                    <span class="text-lg font-semibold">
                        Tristan Bony, {age}
                        <span class="italic">(he/him) </span>
                        <Icon name="france" size={24} class="inline" />
                    </span>
                </li>
                <li>
                    <Icon
                        name="material-symbols:school-outline-rounded"
                        size={16}
                        class="inline"
                    />
                    <span class="text-md">{education}</span>
                </li>
                <li>
                    <address>
                        <li class="card-li">
                            <Icon
                                name="material-symbols:location-on-outline-rounded"
                                size={16}
                                class="inline"
                            />
                            <span class="text-md">{location}</span>
                        </li>
                        <li class="card-li">
                            <Icon
                                name="simple-icons:signal"
                                size={16}
                                class="inline"
                            />
                            <a
                                href={signalLink}
                                title="Contact me through Signal"
                                class="text-md hover:underline hover:decoration-blue-500 hover:decoration-2"
                            >
                                {signal}
                            </a>
                        </li>
                        <li class="card-li">
                            <Icon
                                name="material-symbols:mail-outline-rounded"
                                size={16}
                                class="inline"
                            />
                            <a
                                href={emailLink}
                                title="Contact me by email"
                                class="text-md hover:underline hover:decoration-blue-500 hover:decoration-2"
                            >
                                {email}
                            </a>
                        </li>
                    </address>
                </li>
                <li>
                    <Icon
                        name="material-symbols:sim-card-download-outline-rounded"
                        size={16}
                        class="inline"
                    />
                    <a
                        href="/pdf/CV_English.pdf"
                        target="_blank"
                        title="Download my CV"
                        class="text-md hover:underline hover:decoration-blue-500 hover:decoration-2"
                    >
                        Download my CV
                    </a>
                </li>
                <li>
                    <Icon
                        name="material-symbols:sim-card-download-outline-rounded"
                        size={16}
                        class="inline"
                    />
                    <a
                        href="/pdf/CV_French.pdf"
                        target="_blank"
                        title="Télécharger mon CV"
                        class="text-md hover:underline hover:decoration-blue-500 hover:decoration-2"
                    >
                        Télécharger mon CV
                    </a>
                </li>
                <li>
                    <Icon
                        name="material-symbols:web"
                        size={16}
                        class="inline"
                    />
                    <a
                        href="https://blog.tristanbony.me"
                        target="_blank"
                        title="Visit my blog"
                        class="text-md hover:underline hover:decoration-blue-500 hover:decoration-2"
                    >
                        Visit my blog
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-wrap justify-around items-center pb-4">
            <a
                href="https://www.linkedin.com/in/tristanbony/"
                target="_blank"
                title="Visit my LinkedIn"
                class="w-8 h-8 m-2 inline-block transition duration-300 ease-in-out hover:scale-125 focus:scale-90"
            >
                <Icon name="linkedin" title="Visit my LinkedIn" size={32} />
            </a>
            <a
                href="https://floss.social/@TristanB0"
                rel="me"
                target="_blank"
                title="Come see my toots"
                class="w-8 h-8 m-2 inline-block transition duration-300 ease-in-out hover:scale-125 focus:scale-90"
            >
                <Icon name="mastodon" title="Come see my toots" size={32} />
            </a>
            <a
                href="https://www.github.com/TristanB0"
                target="_blank"
                title="Link to my projects"
                class="w-8 h-8 m-2 inline-block transition duration-300 ease-in-out hover:scale-125 focus:scale-90 dark:hidden"
            >
                <Icon name="github" title="Link to my projects" size={32} />
            </a>
            <a
                href="https://www.github.com/TristanB0"
                target="_blank"
                title="Link to my projects"
                class="w-8 h-8 m-2 transition duration-300 ease-in-out hidden hover:scale-125 focus:scale-90 dark:inline-block"
            >
                <Icon
                    name="github_white"
                    title="Link to my projects"
                    size={32}
                />
            </a>
            <a
                href="https://codeberg.org/TristanB0"
                target="_blank"
                title="My projects but on Codeberg"
                class="w-8 h-8 m-2 inline-block transition duration-300 ease-in-out hover:scale-125 focus:scale-90"
            >
                <Icon
                    name="codeberg"
                    title="My projects but on Codeberg"
                    size={32}
                />
            </a>
        </div>
    </aside>
</main>
